/single-framework/mybatis/src/main/java/com/yamhto/singleFramework/mybatis/bean/
/single-framework/mybatis/src/main/java/com/yamhto/singleFramework/mybatis/mapping/
/single-framework/mybatis/src/main/resources/mapping/
.idea
*/*/target
*/*/*.iml
